// Colors
$blue: #2f80ed;
$white: #ffffff;
$gray-extra-light: #c4c4c4;
$gray-light: #828282;
$gray-dark: #4f4f4f;
$gray-background: #f2f2f2;

// Font-Sizes - Font-Weigth

$fs-xs: 13px;
$fs-normal: 16px;
$fs-md: 18px;
$fs-xl: 24px;

$fw-sm: 500;
$fw-md: 600;
$fw-xl: bold;
// Font Family
$montserrat: "Montserrat", sans-serif;
// Layout
$box-sizing: border-box;
$border-radius: 12px;
$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
